USE [master]
GO
/****** Object:  Database [DbEntityDenemesi]    Script Date: 7/14/2021 1:25:53 AM ******/
CREATE DATABASE [DbEntityDenemesi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbEntityDenemesi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DbEntityDenemesi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbEntityDenemesi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DbEntityDenemesi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbEntityDenemesi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbEntityDenemesi]
GO
/****** Object:  Table [dbo].[Ders]    Script Date: 7/14/2021 1:25:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ders](
	[dersinumarası] [int] IDENTITY(1,1) NOT NULL,
	[dersisim] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ders] PRIMARY KEY CLUSTERED 
(
	[dersinumarası] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notlar]    Script Date: 7/14/2021 1:25:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notlar](
	[notid] [int] IDENTITY(1,1) NOT NULL,
	[ogrencino] [int] NULL,
	[dersno] [int] NULL,
	[sinav1] [smallint] NULL,
	[sinav2] [smallint] NULL,
	[sinav3] [smallint] NULL,
	[ortalama] [decimal](5, 2) NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK_Notlar] PRIMARY KEY CLUSTERED 
(
	[notid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OgrenciTablosu]    Script Date: 7/14/2021 1:25:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciTablosu](
	[ogrencinumara] [int] IDENTITY(1,1) NOT NULL,
	[ogrenciisim] [nvarchar](50) NULL,
	[ogrencisoyisim] [nvarchar](50) NULL,
 CONSTRAINT [PK_OgrenciTablosu] PRIMARY KEY CLUSTERED 
(
	[ogrencinumara] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Notlar]  WITH CHECK ADD  CONSTRAINT [FK_Notlar_Ders] FOREIGN KEY([dersno])
REFERENCES [dbo].[Ders] ([dersinumarası])
GO
ALTER TABLE [dbo].[Notlar] CHECK CONSTRAINT [FK_Notlar_Ders]
GO
ALTER TABLE [dbo].[Notlar]  WITH CHECK ADD  CONSTRAINT [FK_Notlar_OgrenciTablosu] FOREIGN KEY([ogrencino])
REFERENCES [dbo].[OgrenciTablosu] ([ogrencinumara])
GO
ALTER TABLE [dbo].[Notlar] CHECK CONSTRAINT [FK_Notlar_OgrenciTablosu]
GO
USE [master]
GO
